extends ../layout

block content
 a(href = 'usuarios') Volver
 br
 br
 br

 h1 Nuevo Usuario

 br
 br

 from(action='/usuarios/create' method = 'post')
  .from-group
    label(for='nombre') Nombre:
    input#nombre.form-control(type='text' name='nombre' value=usuario.nombre class=errors.nombre ? 'is-ivalid':'')
    if error.nombre
     small#nombreHelp.text-danger
      = errors.nombre.message
  .from-group
    label(for='email') Email:
    input#email.form-control(type='text' name='email' value=usuario.email class=errors.email ? 'is-ivalid':'')
    if error.email
     small#emailHelp.text-danger
      = errors.email.message
  .from-group
    label(for='pwd') Password:
    input#pwd.form-control(type='text' name='pwd' class=errors.pwd ? 'is-ivalid':'')
    if error.pwd
     small#pwdHelp.text-danger
      = errors.pwd.message
  .from-group
    label(for='confirm_pwd') Confirmar Password:
    input#confirm_pwd.form-control(type='text' name='confirm_pwd' class=errors.confirm_pwd ? 'is-ivalid':'')
    if error.confirm_pwd
     small#nconfirm_pwdHelp.text-danger
      = errors.confirm_pwd.message
  br
  br
  input.btn.btn-primary(type='submit' value='OK')